.module_wrapper_show {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  z-index: 2000;
  position: fixed;
}

.module_wrapper_hide {
  display: none;
}

.module_div {
  width: 25rem;
  height: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
}

.module_div > h2 {
  font-size: 2rem;
  color: white;
}

.module_div > p:first-of-type {
  font-size: 0.9rem;
  color: rgb(223, 223, 223);
  margin-top: 1rem;
}

.module_hr {
  width: 80%;
}

.module_div div > i {
  font-size: 1rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition: 2s all;
}

.module_div div > i:hover {
  color: rgb(0, 183, 255);
}

.module_or {
  color: white;
  margin-top: 0.1rem;
}

.module_div form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.module_div form > input {
  display: block;
  margin: 0.5rem;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
}

.module_div form > button {
  background-color: rgba(0, 212, 255, 1);
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 10rem;
  cursor: pointer;
  transition: 1s all;
}

.module_div form > button:hover {
  transform: scale(1.1);
}

.module_div > span {
  color: white;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.module_div > p:last-of-type {
  font-size: 0.9rem;
  color: rgb(223, 223, 223);
}

.module_div > p:last-of-type > b {
  cursor: pointer;
  padding-left: 0.4rem;
}

.module_div > span {
  background-color: rgba(236, 105, 189, 0.6306897759103641);
  color: white;
  border-radius: 20px;
  border: none;
  margin: 1rem auto;
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 1s all;
}

.module_div > span:hover {
  transform: scale(1.1);
}

.signInSignUpbtn:hover {
  color: rgba(236, 105, 189, 0.6306897759103641);
  transition: 1s all;
}

/* Meida Screen */

@media screen and (max-width: 450px) {
  .module_div {
    width: 20rem;
    height: 70%;
  }

  .module_div > h2 {
    font-size: 1.5rem;
  }

  .module_div > p:first-of-type {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .module_div {
    width: 16rem;
  }

  .module_div > h2 {
    font-size: 1.2rem;
  }

  .module_div > p:first-of-type {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 380px) {
  .module_div {
    width: 15rem;
  }

  .module_div > h2 {
    font-size: 1rem;
  }

  .module_div > p:first-of-type {
    font-size: 0.6rem;
  }
}

